/** Partie Header avec Logo **/

#head{
	background-color: white;
	width: 100% ;
	height: auto ;
	color: black;
}

.titre{
	color: black;
	font-family: Julius Sans One;
	font-size: 62px;
	position: relative;
	top: 87px;
	
}

#logo{
    margin-left: 10%;

    width: 11%;
    height: 180px;
    border: none;

}

.navbar{
	margin-top: -258px;
    margin-left: 1161px;
	width: 30%;
	height: 10px;


}





#mu{
	float: left;
	margin-left: 8px;



}

/** About me **/

#about{
	background-image: url(../img/fond-1.jpg);	
	height: 500px;
	font-family: Julius Sans One;
	


}

.me{

	position: relative;
	top: 20px;
	margin-left: 10%;
	color: orange;
	font-size: 33px;

}

.para1{
	position: relative;
	top: 53px;
	margin-left: 10%;
	color: white;
	font-size: 22px;

}

.para2{
	position: relative;
	top: 72px;
	margin-left: 10%;
	color: white;
	font-size: 22px;

}

#quote{
	position: relative;
	top: -189px;
	margin-left: 85%;
	height: 45px;
	width: 3%;


}



/**  Experience and Diplomas  **/

#abilities{
	background-image: url(../img/fond-3.jpeg);
	font-family: Julius Sans One;
	width: 100%;
	height: 500px;

	



}

#fond{

	background-color: black;
	opacity: 0.85;
	height: 500px;
	width: 102%;
	margin-left: -15px;

}

#titre3{
	color: orange;
    font-family: Julius Sans One;
	font-size: 41px;
	margin-left: 35%;
	margin-top: 4%;



}

#liste-diplome{
	color: white;
	font-family: Julius Sans One;
	font-size: 23px;
	margin-top: 8%;
	margin-left: 2%;


}


#liste-diplome a{

	color: white;
	text-decoration: none;


}

#liste-diplome a:hover{

	color: white;
	text-decoration: none;


}

#liste-skills{
	color: white;
	font-family: Julius Sans One;
	font-size: 23px;
	margin-top: -7%;
	margin-left: 53%;


}


#liste-skills a{

	color: white;
	text-decoration: none;


}

#liste-skills a:hover{

	color: white;
	text-decoration: none;


}

.icone{
	margin-left: 47%;
	margin-top: -20%;
	width: 5%;
	height: 79px;




}

/**  Skills **/


#skills{
	background-image: url(../img/fond-4.jpeg);
	font-family: Julius Sans One;
	width: 100%;
	height: 500px;





}

.titre5{
	font-size: 48px;
	color: orange;
	margin-top: 2%;
	margin-left: 10%;


}

.titre6{
	font-size: 48px;
	color: black;
	margin-top: -2%;
	margin-left: 44%;


}

.titre7{
	font-size: 48px;
	color: black;
	margin-top: -5%;
	margin-left: 69%;


}

.titre8{
	font-size: 48px;
	color: black;
	margin-top: 5%;
	margin-left: 69%;


}

.titre9{
	font-size: 48px;
	color: black;
	margin-top: -5%;
	margin-left: 43%;


}

.student{
	margin-left: 12%;
	margin-top: -19%;
	height: 19%;
	width: 5%;
	opacity: 0.9;


}

/** Besoin **/

#need{

	background-image: url(../img/fond-5.jpeg);
	width: 100%;
	height: 500px;
	font-family: Julius Sans One;




}

#fond4{

	background-color: black;
	opacity: 0.8;
	height: 500px;
	width: 102%;
	margin-left: -1%;
	margin-top: 16.2%;



}

#titre10{
	color: orange;
	font-size: 38px;
	margin-top: -16%;
	margin-left: 36%;
	opacity: 1;


}

.para3{
	color: white;
	font-family: Julius Sans One;
	font-size: 25px;
	margin-top: 7%;
	margin-left: 17%;
	opacity: 1;


 
}

.icaune{
	margin-top: 4%;
	margin-left: 35%;


}

.icaune:hover{
	transform: scale(1.1);
	transition: 0.4s;


}

.icaune:active{
	transform: scale(0.9);
	transition: 0.2s;



}

#iconeu{
	margin-left: 10%;
	margin-bottom: -4%;

}

#iconeu:hover{
	transform: scale(1.1);
	transition: 0.4s;

}

#iconeu:active{
	transform: scale(0.9);
	transition: 0.2s;


}


#trans{
	transition: 0.5s;
}








